@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-outfit bg-gray-50 relative z-[1];
  }

  * {
    border-color: theme("colors.gray.200");
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}



